# where to send the logs to
Target: http://localhost:7371/v1/effie/logs
# print debug logs
Debug: true
# how often to scan for new files, in seconds
ScanFrequency: 10
# where to scan for files, group is a string name to identify logs
# type can only be container or default (or empty for default)
Input:
    - type: container
      group: web
      pattern: ./logs/*.log
    - type:
      group: test
      pattern: /abc/123*.log
# collect how many logs before sending them to setsuna
MaxBatch: 10000
# send logs every x seconds if the MaxBatch array is not full yet
MaxDelay: 10
# where to save the progress file
# it tells effie where it left of on tailing files
ProgressFile: ./progress.json
#This changes the log line itself before sending it, must return a string
JSTransformer: |
    function t(host, file, group, line) {
        if (line.startsWith("{")) {
            j = JSON.parse(line);
        }else{
            j = {"message":line};
        }
        if ("password" in j) {
            j["password"] = "***";
        }
        if ("a" in j) {
            j["a"] = "z";
        }
        j["_meta"] = {
            "host": host,
            "file": file,
            "group": group,
            "length": line.length,
        };
        return JSON.stringify(j);
    }
